.react-bootstrap-table table {
  table-layout: fixed;
}

.table {
  --bs-table-color: var(--color-text);
  --bs-table-bg: transparent;
  --bs-table-border-color: var(--color-text);
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: var(--color-text);
  --bs-table-striped-bg: var(--color-light);
  --bs-table-active-color: var(--color-text);
  --bs-table-active-bg: rgba(0, 0, 0, 0.1);
  --bs-table-hover-color: var(--color-text);
  --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
  width: 100%;
  margin-bottom: 1rem;
  color: var(--bs-table-color);
  vertical-align: top;
  border-color: var(--bs-table-border-color);
}

table-striped>tbody>tr:nth-of-type(odd)>* {
  --bs-table-accent-bg: var(--bs-table-striped-bg);
  color: var(--bs-table-striped-color);
}

.table-bordered>:not(caption)>*>* {
  border-width: 0 1px;
}

.table-sm>:not(caption)>*>* {
  padding: 0.25rem 0.25rem;
}

.table>thead {
  vertical-align: bottom;
}

.table>:not(caption)>*>* {
  padding: 0.5rem 0.5rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

.flex-row {
  flex-direction: row!important;
}

.d-flex {
  display: flex!important;
}

table {
  caption-side: bottom;
  border-collapse: collapse;
  border-spacing: 0.25rem;
}

.parent {
  position: relative;
  top: 0;
  left: 0;
  width: 100px;
  max-width: 100px;
}

.image1{
  position: relative;
  top: 0;
  left: 0;
  -webkit-filter: drop-shadow(2px 2px 0 black)
                  drop-shadow(-2px -2px 0 black);
  filter: drop-shadow(1px 1px 0 black)
          drop-shadow(-1px -1px 0 black);
}
.image2{
  position: absolute;
  top: 0px;
  left: 0px;
}


th {
  text-align: center;
  vertical-align: middle;
}
td {
  text-align: center;
  vertical-align: middle;
}


.box {
  position: relative;
  float: left;
  margin: 20px;
}




.blue span {
  background: linear-gradient(#2989d8 0%, #1e5799 100%);
}
.blue span::before {
  border-left-color: #1e5799;
  border-top-color: #1e5799;
}
.blue span::after {
  border-right-color: #1e5799;
  border-top-color: #1e5799;
}

.foo {
  clear: both;
}

.bar {
  content: "";
  left: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #79a70a;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79a70a;
}

.btn {
  border-radius: 2em;
  box-shadow: 5px 5px 5px rgba(105, 73, 73, 0.15);
  min-width: 50px;
}